body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: firebrick;
    text-align: center;
    font-family: Geo;
    color: aliceblue;
}

.giphy-embed {
    opacity: 0.6;
    border-radius: 50%;
}

nav {
    background-color: firebrick;
    font-family: Geo;
    text-align: center;
    opacity: 0.98;
}

.navbar-text:hover{
    color: yellowgreen;
}

.navbar-text {
    font-size: 40px;
    color: black;
    justify-content: center;
}


/*Quote page*/

h2 {
    font-size: 3em;
    background-color: darkslategrey;
    opacity: 0.8;
    width: 70%;
}

.container2 {
    background-color: black;
    opacity: 0.8;
    font-size: 2.5em;
    padding: 2%;
    color: whitesmoke;
    text-decoration-style: dotted;
}

button {
    background-color: darkred;
    opacity: 0.87;
}

.twitter-share-button {
    opacity: 0.8;
}

.parallax1 {
    background-image: url("http://i.imgur.com/jUDwpXb.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 15%;
}

cite{
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.8);
}
/*About Stuff*/

.parallax2 {
    background-image: url("http://i.imgur.com/OyYPBSt.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 115%;
    margin-top: 1%;
    padding-top: 2%
}
.links{
    color: aliceblue;
    font-size: 1.5em;
    background-color: black;
}
#vid{
    opacity: 0.90;
}
#mech{
    opacity: 0.86;
    width: 500;
    height: 600;
}
blockquote{
    font-size: 1.8em;
    background-color: rgba(0, 0, 0, 0.7);
}
/*Game page*/

hr {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}

h3{
    font-size: 2.53em;
}

.gamepage {
    color: aliceblue;
    padding-top: 4%;
    background-color: darkslategrey;
    opacity: 0.82;
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
}

.parallax3 {
    background-image: url("http://i.imgur.com/eZuLmeg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 215%;
    padding-top: 5%;
    margin-top: 1%;
}
